.player {
    width: 450px;
    height: 130px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span{
        font-size: 32px;
        font-weight: bold;
        margin-left: 16px;
        
    }

background: linear-gradient(135deg, #8B0000 0%, #B8860B 50%, #8B0000 100%);
    img{
        width: 170px;
       height:170px;
       object-fit: cover;
       border-radius: 100%;
}
}

:host(.player-position-left) .player {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.player-active {
    box-shadow: 0 0 20px 5px #FFD700;
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    border-color: #B8860B;
}

