html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-wood {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url('../../assets/table/d30f4768-04c6-42e5-90df-6b28d9d8b8d7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url('../../assets/table/cef88797-5f36-47f6-b678-602e045fdd52.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .start-screen {
        background-size: contain;
        background-attachment: scroll;
    }
}

@media (max-width: 480px) {
    .start-screen {
        background-size: contain;
    }
}

@media (orientation: landscape) {
    .start-screen {
        background-size: contain;
    }
}

.playbtn {
    position: absolute;
    bottom: 5px;
    z-index: 10;
    width: 250px;
    height: 200px;
    background-image: url('/assets/table/9a3df68b-f99a-45d6-a2d4-5e7ff64cc179.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, background-image 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverzone {
    width: 162px;
    height: 74px;
    cursor: pointer;
}

.playbtn:has(.hoverzone:hover) {
    width: 265px;
    height: 205px;
    background-image: url('/assets/table/c23666d5-d136-487d-aa8f-650973fef7d8.png');
}

