.woodtable {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url('../../assets/table/d30f4768-04c6-42e5-90df-6b28d9d8b8d7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.thegame {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    width: 120px;
    height: 180px;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    
}

.top-card:hover {
    transform: scale(1.05) translateY(10px);
    transition: transform 0.3s;
    cursor: pointer;
}

.take-card{
    transition: all 125ms ease-in-out;
    transform: scale(1.5) !important;
}