.woodtable {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url('../../assets/table/d30f4768-04c6-42e5-90df-6b28d9d8b8d7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Verhindert Scrollbar */
}

.thegame {
    width: 100vw;
    height: 120vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.card-stack {
    position: relative;
    width: 120px;
    height: 180px;
    transform: translateY(-50%) translateX(-50%);
    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    
}

.top-card:hover {
    transform: scale(1.05) translateY(10px);
    transition: transform 0.3s;
    cursor: pointer;
}

.take-card{
    transition: all 125ms ease-in-out;
    // transform: scale(1.5) !important;
    animation: takeCardAnimation 0.5s ease-in-out;
    transform: translateY(0) scale(1) translateX(300px);
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.played-card {
    position: absolute;
    width: 120px;
    transition: all 0.5s ease-in-out;
    transform: translateY(0) scale(1) translateX(300px);
    opacity: 0;
    animation: fadeIn 0.1s ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes takeCardAnimation {
    0% {
        transform: scale(1);
    }
    30%{
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: translateY(0) scale(1) translateX(300px);
    }
}

.player-position {
    position: absolute;
  right: 0;
}