html, body {
    overflow: hidden; /* Keine Scrollbars */
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box; /* Alle Elemente: Border/Padding in Breite einrechnen */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
